<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.RoleMapper">
    <resultMap id="roles" type="Role">
        <id column="id" property="id"></id>
        <result column="roleName" property="roleName"></result>
        <result column="roleDesc" property="roleDesc"></result>
        <collection property="userList" ofType="User">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="sdate" column="sdate"/>
            <result property="tel" column="tel"/>
            <result property="xueli" column="xueli"/>
            <result property="addr" column="addr"/>
            <result property="username" column="username"/>
            <result property="pwd" column="pwd"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="roles">
      select r.*,u.* from role r left join user_role ur on r.id = ur.rid left join user u on u.uid = ur.uid
    </select>
    <resultMap type="User" id="userResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="sdate" column="sdate"/>
        <result property="tel" column="tel"/>
        <result property="xueli" column="xueli"/>
        <result property="addr" column="addr"/>
        <result property="username" column="username"/>
        <result property="pwd" column="pwd"/>
    </resultMap>


    <select id="findByUserId" parameterType="int" resultType="role">
			select * from  User  where id= #{id}
		</select>

    <select id="get" parameterType="_int" resultType="User">
			select * from  User  where id= #{id}
		</select>
    <select id="total" resultType="int">
	        select count(*) from user
	    </select>
    <update id="updatesql"  parameterType="String">
${value}
</update>
    <delete id="deletesql"  parameterType="String">
${value}
</delete>
</mapper>